@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

h1 {
  color: #CF4520;
}

#headerLogo {
  @media(max-width:767px){
    width: 150px;
    height: 50px;
  }
  @media(min-width:768px){
    width: 150px;
    height: 50px;
  }
  @media(min-width:992px){
    width: 200px;
    height: 100px;
  }
  @media(min-width:1200px){
    width: 250px;
    height: 150px;
  }
  
  margin: 10px;
  background-image: url("/static/images/digital-tribe-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

.navbar-toggle {
  margin-top: 16px;
}

.navbar-nav li {
  @media(min-width:768px){
    margin-top: 28px;
    font-size: 1.1em
  }

  @media(min-width:992px){
    margin-top: 68px;
    font-size: 1.3em
  }
  @media(min-width:1200px){
    margin-top: 88px;
    font-size: 1.5em
  }  
}

