{% extends "base.html" %}
{% include "meta.html" %}
{% block content %}
  <div class="page-header row">
    <h1>About Us <small>Not Your Ordinary Team</small></h1>
  </div>
  <div class="row">
    <h2>Steven Jimenez <small>Developer & Powerful Leader</small></h2>
    <div class="col-xs-12 col-sm-6">
      <div id="imageSteven" class="profile-pic"></div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <p>As a professional Latino I want to share my talents with the world. For me it is not just about creating applications and websites. My work is to create a relationship with entrepreneurs and execute their vision. Supporting a great vision and goal is my way of making the world a better place.</p>

      <p>When working on a project I think about both the technical and business perspective. Both aspects need to be considered when creating a digital prescence. Demographics are also key for a project. With my cultural background I can tap into knowledge that others are unable to reach for.</p>
    </div>

  </div>
  <div class="row">
    <h2>Ronald Brown <small>Developer & Connected Leader</small></h2>
    <div class="col-xs-12 col-sm-6">
      <div id="imageRon" class="profile-pic"></div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <p>As a Black entreprenur I want to make a dent in the world. I have always enjoyed building and creating. There is nothing that I can't do. Pressure does not hinder on my work and I can keep relatively calm</p>

      <p>Learning to use different tools and programming languages is exciting and fun. If there is a unfamiliar problem, I will be motivated to learn how to come up with a solution. Anything is possible</p>
    </div>
  </div>
{% endblock %}
