{% extends "base.html" %}
{% include "meta.html" %}
{% block content %}
  <div class="row">
    <div id="myCarousel" class="carousel slide carousel-fade" data-wrap="true">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="{{ url_for('static', filename='images/Photos_3/IMG_20160528_175200.jpg') }}" alt="Portland Japanese tea garden">
          <div class="carousel-caption">
            <h3>Details</h3>
            <p>Every part of your site is important</p>
          </div>
        </div>

        <div class="item">
          <img src="{{ url_for('static', filename='images/Photos_3/IMG_20160620_203944.jpg') }}" alt="bay are sunset">
          <div class="carousel-caption">
            <h3>Approach</h3>
            <p>Your content represents your values</p>
          </div>
        </div>

        <div class="item">
          <img src="{{ url_for('static', filename='images/Photos_3/IMG_20160724_134800.jpg') }}" alt="Chicago">
          <div class="carousel-caption">
            <h3>Central Hub</h3>
            <p>Your digital hub is where people will gather</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <h2>Digital Presence</h2>
      <p>The best way to create a digital presence is by having a website or application. Create your image, display your vision, and share your talents.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h2>Social Approach</h2>
      <p>Connect with your audience and optimize the best approach to share evergreen content.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h2>Search Optimization</h2>
      <p>Update your content and utilize tools that will bring in users and clients.</p>
    </div>
    </script>
{% endblock %}
