{% extends "base.html" %}
{% include "meta.html" %}
{% block content %}
  <div class="row">
    <div class="jumbotron">
      <h1>Jumbotron</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <h2>Heading</h2>
      <p>Lorem ipsizzle dolor sure break it down, bizzle ma nizzle ma nizzle. Nullizzle sapizzle shizzlin dizzle, sure volutpizzle, suscipit quizzle, gravida vitae, nunc. Pot suscipizzle. Integizzle bizzle uhuh ... yih! rizzle purizzle.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h2>Heading</h2>
      <p>Lorem ipsizzle dolor sure break it down, bizzle ma nizzle ma nizzle. Nullizzle sapizzle shizzlin dizzle, sure volutpizzle, suscipit quizzle, gravida vitae, nunc. Pot suscipizzle. Integizzle bizzle uhuh ... yih! rizzle purizzle.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h2>Heading</h2>
      <p>Lorem ipsizzle dolor sure break it down, bizzle ma nizzle ma nizzle. Nullizzle sapizzle shizzlin dizzle, sure volutpizzle, suscipit quizzle, gravida vitae, nunc. Pot suscipizzle. Integizzle bizzle uhuh ... yih! rizzle purizzle.</p>
    </div>
{% endblock %}
