<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="http://lorempixel.com/60/20/">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li data-nav-item="1"><a href="/about-us.html">About Us</a></li>
        <li data-nav-item="2"><a href="/services.html">Services</a></li>
        <li data-nav-item="3"><a href="/contact-us.html">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>