{% extends "base.html" %}
{% include "meta.html" %}
{% block content %}
  <!-- <div class="col-xs-12 col-sm-4">
      <h2>Digital Presence</h2>
      <p>The best way to create a digital presence is by having a website or application. Create your image, display your vision, and share your talents.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h2>Social Approach</h2>
      <p>Connect with your audience and optimize the best approach to share evergreen content.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h2>Search Optimization</h2>
      <p>Update your content and utilize tools that will bring in users and clients.</p>
    </div>
  <div class="row">
    <div class="page-header row">
      <h1>Services <small>What we can do for you</small></h1>
    </div>
  </div> -->
  <div class="row">
    <h2>Digital Presence</h2>
    <p>The first step in moving forward with your vision is creating a community where you can offer a service, support, or a connection with your target audience. Start off with a website or an application that your audience can interact with or just read information.</p>
    <ul class="list-group">
      <li class="list-group-item">Wordpress Site</li>
      <li class="list-group-item">Custom Static Site</li>
      <li class="list-group-item">Content Updates</li>
    </ul>
  </div>
  <div class="row">
    <h2>Social Approach</h2>
    <p>Your digital presence will need some support of social media platforms to help your presence be more visible. Target your audience and strategize how you can target your demographics using Facebook, Instagram, Snapchat and even Medium</p>
    <ul class="list-group">
      <li class="list-group-item">Increase visibility with Medium.com</li>
      <li class="list-group-item">Facebook Page</li>
      <li class="list-group-item">Tweeting on Twitter</li>
      <li class="list-group-item">Snapchat</li>
      <li class="list-group-item">Instagram Stories</li>
    </ul>
  </div>
  <div class="row">
    <h2>Search Optimization</h2>
    <p>Be certain that you have the right analytical tools to see who is visiting your site and how your site is ranking against SEO engines. Your content plays a big role in your serachability online. The more rich content you have the better you are positioned to find new visitors to your site or application</p>
    <ul class="list-group">
      <li class="list-group-item">Google Analytics</li>
      <li class="list-group-item">Content Upgrade</li>
      <li class="list-group-item">Cleaning up content</li>
      <li class="list-group-item">Basic Search Engine Optimization</li>
    </ul>
  </div>
{% endblock %}
